@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  position: relative;
}

@keyframes tilt {
  0% {
    transform: rotate(-8deg) scale(0.6);
  }
  25% {
    transform: rotate(-6deg) scale(0.7);
  }
  50% {
    transform: rotate(-4deg) scale(0.8);
  }
  75% {
    transform: rotate(-2deg) scale(0.9);
  }
  100% {
    transform: rotate(0deg) scale(1);
  }
}

.animate-tilt {
  animation: tilt 0.3s ease-in-out;
}

:root {
  box-sizing: border-box;
  background-color: #1a1a1a;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --font-vina-sans: "Vina Sans", sans-serif;
  --font-geist: "Geist", sans-serif;
  --font-covered-by-your-grace: "Covered By Your Grace", cursive;
  --font-rethink-sans: "Rethink Sans", sans-serif;
}

/* globals.css */
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.flicking-camera {
  align-items: center;
  justify-content: space-between;
}

[data-aos="israel-1"] {
  transition-property: transform;

  &.aos-animate {
    transform: rotate(-24deg) translateX(-220px) translateY(-60px);
  }
}
[data-aos="israel-2"] {
  transition-property: transform;

  &.aos-animate {
    transform: rotate(-4deg) translateX(-80px) translateY(-20px);
  }
}
[data-aos="israel-3"] {
  transition-property: transform;

  &.aos-animate {
    transform: rotate(12deg) translateX(70px) translateY(0px);
  }
}
[data-aos="israel-4"] {
  transition-property: transform;

  &.aos-animate {
    transform: rotate(-20deg) translateX(200px) translateY(90px);
  }
}

.no-scroll {
  overflow: hidden;
}
