@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  position: relative;
}

@keyframes tilt {
  0% {
    transform: rotate(-8deg) scale(0.6);
  }
  25% {
    transform: rotate(-6deg) scale(0.7);
  }
  50% {
    transform: rotate(-4deg) scale(0.8);
  }
  75% {
    transform: rotate(-2deg) scale(0.9);
  }
  100% {
    transform: rotate(0deg) scale(1);
  }
}

html {
  scroll-behavior: smooth !important;
}

.animate-tilt {
  animation: tilt 0.3s ease-in-out;
}

:root {
  box-sizing: border-box;
  background-color: #1a1a1a;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --font-vina-sans: "Vina Sans", sans-serif;
  --font-geist: "Geist", sans-serif;
  --font-covered-by-your-grace: "Covered By Your Grace", cursive;
  --font-rethink-sans: "Rethink Sans", sans-serif;
}

/* globals.css */
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.flicking-camera {
  align-items: center;
  justify-content: space-between;
}

[data-aos="israel-1"] {
  transition-property: transform;

  &.aos-animate {
    transform: rotate(-24deg) translateX(-220px) translateY(-60px);
  }
}
[data-aos="israel-2"] {
  transition-property: transform;

  &.aos-animate {
    transform: rotate(-4deg) translateX(-80px) translateY(-20px);
  }
}
[data-aos="israel-3"] {
  transition-property: transform;

  &.aos-animate {
    transform: rotate(12deg) translateX(70px) translateY(0px);
  }
}
[data-aos="israel-4"] {
  transition-property: transform;

  &.aos-animate {
    transform: rotate(-20deg) translateX(200px) translateY(90px);
  }
}

.no-scroll {
  overflow: hidden;
}


.swiper {
  width: 100%;
  height: 100%;
}

.swiper-pagination{
  position: absolute !important;
  z-index: 10 !important;
}

.swiper-pagination-bullet{
  background: #fff !important;
  opacity: 1 !important;
  width: 9px !important;
  height: 9px !important;
  border-radius: 70px !important;
  transition: all 0.3s ease-in-out !important;
}

.swiper-pagination-bullet-active{
 width: 56px !important;
}

.swiper-button-next,
.swiper-button-prev {
  background-color: #fff !important;
  width: 36px !important;
  height: 36px !important;
  border-radius: 50% !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  padding: 0px
}

.swiper-button-next svg,
.swiper-button-prev svg {
  width: 16px !important;
  height: 16px !important;
}

.swiper-button-next svg path,
.swiper-button-prev svg path {
  fill: #000 !important;
}

.swiper-button-prev {
  left: 100px !important;
}

.swiper-button-next {
  right: 100px !important;
}

